anyjson==0.3.3
brotlipy==0.7.0
catboost==1.0.5
celery-with-mongodb==3.0
conda-build==3.21.4
conda-package-handling==1.7.2
firebase-admin==5.2.0
glob2==0.7
grpcio-status==1.46.0
jupyterlab==3.3.3
lightgbm==3.3.2
missingno==0.5.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
MulticoreTSNE==0.1
numba==0.55.1
olefile==0.46
parmap==1.5.3
PyMySQL==1.0.2
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dotenv==0.20.0
ray==1.12.0
redis==4.3.1
sagemaker-training==4.1.0
schedule==1.1.0
sklearn==0.0
SQLAlchemy==1.4.36
streamlit==1.9.0
tensorboardX==2.5
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.13
torchelastic==0.2.1
torchvision==0.8.2
transformers==4.18.0
voila==0.3.5
wandb==0.12.14
xgboost==1.6.0
